/*Universal Styling*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Oxygen', sans-serif;
}

a,
p {
    font-family: 'Oxygen', sans-serif;
}

/*Variables/Styles*/
:root {
    --primary-color: #c40b13;
    --secondary-color: #f69314;
    --last-color: #621295;
}

/*Animation Classes*/

/*Home Styling*/
.mainContent {
    overflow: hidden;
}

.b2 {
    background: black;
    overflow: hidden;
}

#menu {
    color: var(--primary-color);
    background-size: 3rem;
    font-size: 4rem;
    transition: opacity 0.2s ease-in;
}

.menuItems {
    position: relative;
    z-index: 2;
    top: -20px;
    left: 17px;
    width: 20%;
    opacity: 0;
}

.toggleMenu {
    opacity: 1;
}

.menuItems a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    position: relative;
    z-index: 4;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transition: opacity 0.2s ease-in;
    margin-top: 5px;
    border-bottom: 1px solid transparent;
    font-weight: 800;
    cursor: default;
}

#learnMore {
    width: 40px;
    height: 35px;
    transition: opacity 0.2s ease-in;
}

.homeHeader {
    width: 100%;
    height: 100vh;
    position: relative;
    background: url('images/bg.jpg') no-repeat center center/cover;
}

/* Creates Shadow Over Image*/
.homeHeader::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0, 0, 0, 0.6);
    box-shadow: inset 120px 100px 250px #000000, inset -120px -100px 250px #000000;
}

.homeLogo {
    width: 30%;
    height: auto;
    margin-top: 1rem;
}

.homeHeader-top {
    margin-top: 0rem;
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Oxygen', sans-serif;
}

.homeHeader-bottom {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 12rem;
}

.homeHeader-bottom h1 {
    color: white;
    font-size: 1rem;
}

.btn {
    display: inline-block;
    background: var(--primary-color);
    color: #fff;
    padding: 0.4rem 1.3rem;
    font-size: rem;
    text-align: center;
    cursor: pointer;
    transition: opacity 0.2s ease-in;
    border-radius: 5px;
    text-decoration: none;
    font-family: 'Oxygen', sans-serif;
}

.homeHeader-middle {
    width: 80%;
    margin: 0 auto;
    position: relative;
    z-index: 2;
    color: white;
    text-align: center;
    font-size: 1.9rem;
    font-family: 'Oxygen', sans-serif;
    padding-top: 5rem;
}

footer {
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: none;
    color: #999;
}

footer p {
    font-size: 1.4rem;
    flex-grow: 2;
    margin-left: 1rem;
}

footer a {
    color: #999;
    text-decoration: none;
    margin-left: 1rem;
    transition: opacity 0.2s ease-in;
}

footer a:last-child {
    margin-right: 1rem;
}

/*Home Main Content*/
#mainContent {
    height: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    visibility: hidden;
    background: black;
}

#mainContent img {
    margin: 0 auto;
    margin-top: 2rem;
    border-radius: 12px;
    width: 30%;
    height: auto;
}

.mainCreate {
    color: white;
}

.createDiv {
    width: 30%;
    text-align: center;
    margin: 0 auto;
}

.mainFind {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    color: white;
}

.findDiv {
    width: 30%;
    text-align: center;
    margin: 0 auto;
}

.mainShare {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    color: white;
}

.shareDiv {
    width: 30%;
    text-align: center;
    margin: 0 auto;
}

.mainRate {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    color: white;
}

.rateDiv {
    width: 30%;
    text-align: center;
    margin: 0 auto;
}

/*About Styling*/
.about {
    width: 100%;
    margin: 0 auto;
    position: absolute;
    z-index: 2;
    /*
    display: grid;
    grid-template-columns: repeat(2,1fr);
*/
}

.contributors {
    position: absolute;
    z-index: 2;
}

.aboutHeader {
    color: white;
    font-size: 3rem;
    box-shadow: 120px 100px 250px #000000;
    text-align: center;
    flex-grow: 2;
    margin-right: 7rem;
}

.contributors h3,
p {
    color: white;
}

.pImages {
    height: auto;
    width: 15rem;
    margin: 0 auto;
    border-radius: 50%;
}

.people {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    align-items: center;
}

.description {
    width: 50%;
}

.gImages {
    width: 2rem;
    height: auto;
    color: white;
    margin: 0 auto;
}

.homeHeader-top2 {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Oxygen', sans-serif;
}

.aboutMenu {
    margin-left: 2rem;
    margin-top: 2rem;
    transition: opacity 0.2s ease-in;
}

.menuItems2 {
    position: relative;
    z-index: 2;
    top: -3px;
    right: 60px;
    width: 20%;
    opacity: 0;
}

.toggleMenu2 {
    opacity: 1;
}

.menuItems2 a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transition: opacity 0.2s ease-in;
    margin-top: 5px;
    border-bottom: 1px solid transparent;
    font-weight: 800;
    cursor: default;
}

/*Mobile Media Queries*/
@media (min-width: 850px) {
    footer a:hover {
        color: white;
        opacity: .9;
    }

    .btn:hover {
        opacity: 0.9;
    }

    #learnMore:hover {
        cursor: pointer;
        opacity: 0.9;
    }

    .menuItems a:hover {
        opacity: 0.9;
        color: var(--primary-color);
    }

    #menu:hover {
        cursor: pointer;
        opacity: 0.7;
    }

    .menuItems2 a:hover {
        opacity: 0.9;
        color: var(--primary-color);
    }

    .aboutMenu:hover {
        cursor: pointer;
        opacity: 0.7;
    }

    #img:hover {
        cursor: pointer;
    }

    .contributors h3:hover {
        color: var(--primary-color);
    }
}

@media (max-width: 1014px) {
    .menuItems2 {
        right: 2.3rem;
    }
}

@media (max-width: 850px) {
    .homeHeader-top {
        display: flex;
        height: 8rem;
        flex-direction: column;
        font-family: 'Oxygen', sans-serif;
    }

    .homeHeader-middle {
        width: 100%;
        line-height: 2rem;
        font-size: 1.3rem;
        font-family: 'Oxygen', sans-serif;
        padding-top: 5rem;
    }

    .menuItems2 {
        right: 1.3rem;
    }

    #menu {
        display: none;
    }

    .menuItems {
        display: none;
    }

    .homeLogo {
        margin-top: 4rem;
        margin-bottom: 1rem;
        width: 50%;
    }

    .btn {
        padding: 0.4rem .9rem;
        font-size: .9rem;
    }

    .homeHeader-top {
        display: flex;
        height: 8rem;
        flex-direction: column;
        font-family: 'Oxygen', sans-serif;
    }

    .homeHeader-middle {
        width: 100%;
        line-height: 2rem;
        font-size: 1.4rem;
        font-family: 'Oxygen', sans-serif;
        padding-top: 3rem;
    }

    .homeLogo {
        width: 60%;
    }

    .btn {
        padding: 0.4rem .7rem;
        font-size: .7rem;
    }

    .btn {
        display: none;
    }

    footer p {
        font-size: 2em;
        flex-grow: 1;
    }

    footer a {
        font-size: 1.5rem;
        margin-left: 2rem;
    }

    #mainContent img {
        width: 40%;
    }

    .createDiv {
        width: 60%;
    }

    .findDiv {
        width: 60%;
    }

    .shareDiv {
        width: 60%;
    }

    .rateDiv {
        width: 60%;
    }
}

@media (max-width: 740px) {
    .homeHeader-top {
        display: flex;
        height: 8rem;
        flex-direction: column;
        font-family: 'Oxygen', sans-serif;
    }

    .homeHeader-middle {
        width: 100%;
        line-height: 2rem;
        font-size: 1.3rem;
        font-family: 'Oxygen', sans-serif;
        padding-top: 5rem;
    }

    #menu {
        display: none;
    }

    .menuItems {
        display: none;
    }

    .homeLogo {
        margin-top: 4rem;
        margin-bottom: 1rem;
        width: 50%;
    }

    .btn {
        padding: 0.4rem .9rem;
        font-size: .9rem;
    }

    #mainContent img {
        width: 100%;
        height: 20rem;
    }

    .createDiv {
        width: 100%;
    }

    .findDiv {
        width: 100%;
    }

    .shareDiv {
        width: 100%;
    }

    .rateDiv {
        width: 100%;
    }

    .pImages {
        width: 10rem;
    }

    .menuItems2 {
        right: .8rem;
    }
}

@media (max-width: 650px) {
    .homeHeader-top {
        display: flex;
        height: 8rem;
        flex-direction: column;
        font-family: 'Oxygen', sans-serif;
    }

    .homeHeader-middle {
        width: 100%;
        line-height: 1.4rem;
        font-size: .9rem;
        font-family: 'Oxygen', sans-serif;
        padding-top: 3rem;
    }

    .homeLogo {
        width: 60%;
    }

    .btn {
        padding: 0.4rem .7rem;
        font-size: .7rem;
    }

    .btn {
        display: none;
    }

    footer p {
        font-size: 1.4rem;
        flex-grow: 1;
    }

    footer a {
        font-size: 1rem;
        margin-left: 1rem;
    }

    #mainContent img {
        width: 100%;
        height: 20rem;
    }

    .createDiv {
        width: 100%;
    }

    .findDiv {
        width: 100%;
    }

    .shareDiv {
        width: 100%;
    }

    .rateDiv {
        width: 100%;
    }

    .pImages {
        width: 9rem;
    }

    .menuItems2 {
        right: .1rem;
    }
}

@media (max-width: 500px) {
    .homeHeader-top {
        display: flex;
        height: 8rem;
        flex-direction: column;
        font-family: 'Oxygen', sans-serif;
    }

    .homeHeader-middle {
        width: 100%;
        line-height: 1.4rem;
        font-size: .9rem;
        font-family: 'Oxygen', sans-serif;
        padding-top: 3rem;
    }

    .homeLogo {
        width: 60%;
    }

    .btn {
        padding: 0.4rem .7rem;
        font-size: .7rem;
        display: none;
    }

    footer p {
        font-size: .8rem;
        flex-grow: 1;
    }

    footer a {
        font-size: .7rem;
        margin-left: .8rem;
    }

    .pImages {
        width: 7rem;
    }

    .menuItems2 {
        right: -1rem;
    }

    .aboutHeader {
        font-size: 1.8rem;
    }
}

@media (max-width: 400px) {
    .pImages {
        width: 5rem;
    }

    .menuItems2 {
        right: -1.5rem;
    }

    .menuItems2 a {
        font-size: .8rem;
    }

    .aboutHeader {
        font-size: 2rem;
    }
}
