/*Universal Styling*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Oxygen', sans-serif;
}

a,
p {
    font-family: 'Oxygen', sans-serif;
}

/*Variables/Styles*/
:root {
    --primary-color: #c40b13;
    --secondary-color: #f69314;
    --last-color: #621295;
}

/*Animation Classes*/

/*Home Styling*/
.b2 {
    background: black;
}

#menu {
    color: var(--primary-color);
    background-size: 3rem;
    font-size: 4rem;
    transition: opacity 0.2s ease-in;
}

#menu:hover {
    cursor: pointer;
    opacity: 0.7;
}

.menuItems {
    position: relative;
    z-index: 2;
    top: -20px;
    left: 17px;
    width: 20%;
    opacity: 0;
}

.toggleMenu {
    opacity: 1;
}

.menuItems a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    position: relative;
    z-index: 4;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transition: opacity 0.2s ease-in;
    margin-top: 5px;
    border-bottom: 1px solid transparent;
    font-weight: 800;
    cursor: default;
}

.menuItems a:hover {
    opacity: 0.9;
    color: var(--primary-color);
}

#learnMore {
    width: 40px;
    height: 35px;
    transition: opacity 0.2s ease-in;
}

#learnMore:hover {
    cursor: pointer;
    opacity: 0.9;
}

.homeHeader {
    width: 100%;
    height: 100vh;
    position: relative;
    background: url('images/bg.jpg') no-repeat center center/cover;
}

/* Creates Shadow Over Image*/
.homeHeader::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0, 0, 0, 0.6);
    box-shadow: inset 120px 100px 250px #000000, inset -120px -100px 250px #000000;
}

.homeLogo {
    width: 30%;
    height: auto;
    margin-top: 1rem;
}

.homeHeader-top {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Oxygen', sans-serif;
}

.homeHeader-bottom {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 8.5rem;
}

.homeHeader-bottom h1 {
    color: white;
    font-size: 1rem;
}

.btn {
    display: inline-block;
    background: var(--primary-color);
    color: #fff;
    padding: 0.4rem 1.3rem;
    font-size: rem;
    text-align: center;
    cursor: pointer;
    transition: opacity 0.2s ease-in;
    border-radius: 5px;
    text-decoration: none;
    font-family: 'Oxygen', sans-serif;
}

.btn:hover {
    opacity: 0.9;
}

#cSeeMore {
    background: var(--primary-color);
    margin-top: 1rem;
}

#fSeeMore {
    background: var(--primary-color);
    margin-top: 1rem;
}

#sSeeMore {
    background: var(--primary-color);
    margin-top: 1rem;
}

#rSeeMore {
    background: var(--primary-color);
    margin-top: 1rem;
}

.homeHeader-middle {
    width: 80%;
    margin: 0 auto;
    position: relative;
    z-index: 2;
    color: white;
    text-align: center;
    font-size: 1.9rem;
    font-family: 'Oxygen', sans-serif;
    padding-top: 1rem;
}

footer {
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: none;
    color: #999;
}

footer p {
    font-size: 1.4rem;
    flex-grow: 2;
    margin-left: 1rem;
}

footer a {
    color: #999;
    text-decoration: none;
    margin-left: 1rem;
    transition: opacity 0.2s ease-in;
}

footer a:hover {
    color: white;
    opacity: .9;
}

footer a:last-child {
    margin-right: 1rem;
}

/*Home Main Content*/
.mainContent {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    display: none;
    background: black;
}

.mainContent img {
    border-radius: 12px;
    width: 100%;
    height: 100%;
}

.mainCreate {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 12rem;
    margin-bottom: 11rem;
    color: white;
}

.createDiv {
    text-align: center;
    align-self: center;
}

.mainFind {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 12rem;
    margin-bottom: 11rem;
    color: white;
}

.findDiv {
    text-align: center;
    align-self: center;
}

.mainShare {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 12rem;
    margin-bottom: 11rem;
    color: white;
}

.shareDiv {
    text-align: center;
    align-self: center;
}

.mainRate {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 12rem;
    margin-bottom: 11rem;
    color: white;
}

.rateDiv {
    text-align: center;
    align-self: center;
}

/*About Styling*/
.about {
    width: 35%;
    margin: 0 auto;
}

.contributors {
    display: grid;
    top: 100px;
    grid-gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
    position: absolute;
    z-index: 2;
}

.aboutHeader {
    color: white;
    font-size: 3rem;
    box-shadow: 120px 100px 250px #000000;
    text-align: center;
    flex-grow: 2;
    margin-right: 7rem;
}

.contributors h3,
p {
    color: white;
}

.contributors h3:hover {
    color: var(--primary-color);
}

.pImages {
    height: auto;
    width: 4rem;
    margin-right: 1rem;
}

.people {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.pImages {
    border-radius: 50%;
}

.gImages {
    width: 20px;
    height: auto;
    color: white;
}

#img:hover {
    cursor: pointer;
}

.aBody footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: absolute;
    z-index: 2;
    bottom: 1px;
}

.aBody footer p {
    font-size: 1rem;
    flex-grow: 2;
    margin-left: 1rem;
}

.aBody footer a {
    color: white;
    text-decoration: none;
    margin-left: 1rem;
    transition: opacity 0.2s ease-in;
}

.aBody footer a:hover {
    color: var(--primary-color);
    opacity: .6;
}

.aBody footer a:last-child {
    margin-right: 1rem;
}

.homeHeader-top2 {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Oxygen', sans-serif;
}

.aboutMenu {
    margin-left: 2rem;
    margin-top: 2rem;
    transition: opacity 0.2s ease-in;
}

.aboutMenu:hover {
    cursor: pointer;
    opacity: 0.7;
}

.menuItems2 {
    position: relative;
    z-index: 2;
    top: -3px;
    right: 60px;
    width: 20%;
    opacity: 0;
}

.toggleMenu2 {
    opacity: 1;
}

.menuItems2 a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transition: opacity 0.2s ease-in;
    margin-top: 5px;
    border-bottom: 1px solid transparent;
    font-weight: 800;
    cursor: default;
}

.menuItems2 a:hover {
    opacity: 0.9;
    color: var(--primary-color);
}

/*Mobile Media Queries*/
@media (max-width: 850px) {
    .people {
        width: 100%;
        position: relative;
        top: 60px;
        right: 80px;
    }

    .aboutHeader {
        font-size: 2.2rem;
        margin-right: 0rem;
    }

    .menuItems2 a {
        display: none;
    }

    .aboutMenu {
        display: none;
    }

    .pImages {
        height: auto;
        width: 4rem;
        margin-right: 0.1rem;
    }

    .gImages {
        width: 30px;
        height: auto;
        color: white;
    }

    .contributors {
        right: 0px;
    }

    .contributors h3 {
        font-size: 1rem;
    }

    .contributors p {
        font-size: .7rem;
    }

    .aBody footer {
        bottom: 0px;
    }

    .aBody footer p {
        font-size: 1rem;
    }

    .aBody footer a {
        margin-left: 1rem;
        font-size: .8rem;
    }

    .homeHeader-top {
        display: flex;
        height: 8rem;
        flex-direction: column;
        font-family: 'Oxygen', sans-serif;
    }

    .homeHeader-middle {
        width: 100%;
        line-height: 2rem;
        font-size: 1.3rem;
        font-family: 'Oxygen', sans-serif;
        padding-top: 5rem;
    }

    #menu {
        display: none;
    }

    .menuItems {
        display: none;
    }

    .homeLogo {
        margin-top: 4rem;
        margin-bottom: 1rem;
        width: 50%;
    }

    .btn {
        padding: 0.4rem .9rem;
        font-size: .9rem;
    }

    .homeHeader-top {
        display: flex;
        height: 8rem;
        flex-direction: column;
        font-family: 'Oxygen', sans-serif;
    }

    .homeHeader-middle {
        width: 100%;
        line-height: 2rem;
        font-size: 1.4rem;
        font-family: 'Oxygen', sans-serif;
        padding-top: 3rem;
    }

    .homeLogo {
        width: 60%;
    }

    .btn {
        padding: 0.4rem .7rem;
        font-size: .7rem;
    }

    .mainContent img {
        border-radius: 12px;
        width: 100%;
        height: 100%;
        margin-top: 1.5rem;
    }

    .mainCreate {
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .mainFind {
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .mainShare {
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .mainRate {
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .btn {
        display: none;
    }

    footer p {
        font-size: 2em;
        flex-grow: 1;
    }

    footer a {
        font-size: 1.5rem;
        margin-left: 2rem;
    }
}

@media (max-width: 740px) {
    .people {
        width: 80%;
        position: relative;
        top: 60px;
        right: 0px;
    }

    .aboutHeader {
        font-size: 1.5rem;
        margin-right: 0rem;
    }

    .pImages {
        height: auto;
        width: 2.3rem;
        margin-right: 0.1rem;
    }

    .gImages {
        width: 17px;
        height: auto;
        color: white;
    }

    .contributors h3 {
        font-size: .9rem;
    }

    .contributors p {
        font-size: .6rem;
    }

    .aBody footer {
        bottom: 0px;
    }

    .aBody footer p {
        font-size: .8rem;
    }

    .aBody footer a {
        margin-left: .4rem;
        font-size: .6rem;
    }

    .homeHeader-top {
        display: flex;
        height: 8rem;
        flex-direction: column;
        font-family: 'Oxygen', sans-serif;
    }

    .homeHeader-middle {
        width: 100%;
        line-height: 2rem;
        font-size: 1.3rem;
        font-family: 'Oxygen', sans-serif;
        padding-top: 5rem;
    }

    #menu {
        display: none;
    }

    .menuItems {
        display: none;
    }

    .homeLogo {
        margin-top: 4rem;
        margin-bottom: 1rem;
        width: 50%;
    }

    .btn {
        padding: 0.4rem .9rem;
        font-size: .9rem;
    }
}

@media (max-width: 650px) {
    .people {
        width: 80%;
        position: relative;
        top: 60px;
        right: 40px;
    }

    .homeHeader-top {
        display: flex;
        height: 8rem;
        flex-direction: column;
        font-family: 'Oxygen', sans-serif;
    }

    .homeHeader-middle {
        width: 100%;
        line-height: 1.4rem;
        font-size: .9rem;
        font-family: 'Oxygen', sans-serif;
        padding-top: 3rem;
    }

    .homeLogo {
        width: 60%;
    }

    .btn {
        padding: 0.4rem .7rem;
        font-size: .7rem;
    }

    .mainContent img {
        border-radius: 12px;
        width: 100%;
        height: 100%;
        margin-top: 1.5rem;
    }

    .mainCreate {
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .mainFind {
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .mainShare {
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .mainRate {
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .btn {
        display: none;
    }

    footer p {
        font-size: 1.4rem;
        flex-grow: 1;
    }

    footer a {
        font-size: 1rem;
        margin-left: 1rem;
    }
}

@media (max-width: 500px) {
    .people {
        width: 80%;
        position: relative;
        top: 60px;
        left: 30px;
    }

    .aboutHeader {
        font-size: 1.5rem;
        margin-right: 0rem;
    }

    .menuItems2 a {
        display: none;
    }

    .aboutMenu {
        display: none;
    }

    .pImages {
        height: auto;
        width: 2.3rem;
        margin-right: 0.1rem;
    }

    .gImages {
        width: 17px;
        height: auto;
        color: white;
    }

    .contributors {
        right: 0px;
    }

    .contributors h3 {
        font-size: .9rem;
    }

    .contributors p {
        font-size: .6rem;
    }

    .aBody footer {
        bottom: 0px;
    }

    .aBody footer p {
        font-size: .8rem;
    }

    .aBody footer a {
        margin-left: .4rem;
        font-size: .6rem;
    }

    .homeHeader-top {
        display: flex;
        height: 8rem;
        flex-direction: column;
        font-family: 'Oxygen', sans-serif;
    }

    .homeHeader-middle {
        width: 100%;
        line-height: 1.4rem;
        font-size: .9rem;
        font-family: 'Oxygen', sans-serif;
        padding-top: 3rem;
    }

    .homeLogo {
        width: 60%;
    }

    .btn {
        padding: 0.4rem .7rem;
        font-size: .7rem;
    }

    .mainContent img {
        border-radius: 12px;
        width: 100%;
        height: 100%;
        margin-top: 1.5rem;
    }

    .mainCreate {
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .mainFind {
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .mainShare {
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .mainRate {
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .btn {
        display: none;
    }

    footer p {
        font-size: .8rem;
        flex-grow: 1;
    }

    footer a {
        font-size: .7rem;
        margin-left: .8rem;
    }
}
