/*Universal Styling*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Oxygen', sans-serif;
}

a,
p {
    font-family: 'Roboto', sans-serif;
}

/*Variables/Styles*/
:root {
    --primary-color: #c40b13;
    --secondary-color: #f69314;
    --last-color: #621295;
}

/*Animation Classes*/

/*Home Styling*/

#menu {
    color: var(--primary-color);
    background: url(images/white.png) no-repeat center;
    background-size: 3rem;
    font-size: 4rem;
    transition: opacity 0.2s ease-in;
}

#menu:hover {
    cursor: pointer;
    opacity: 0.9;
}

.menuItems {
    border: 3px solid black;
    width: 20%;
    background: white;
    opacity: 0;
}

.toggleMenu {
    opacity: 1;
}

.menuItems a {
    color: white;
    text-decoration: none;
    font-size: .8rem;
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transition: opacity 0.2s ease-in;
    margin-top: 5px;
    border-bottom: 1px solid transparent;
}

.menuItems a:hover {
    opacity: 0.9;
    border-bottom: 1px solid #fff;
}

#learnMore {
    width: 40px;
    height: 35px;
    transition: opacity 0.2s ease-in;
}

#learnMore:hover {
    cursor: pointer;
    opacity: 0.9;
}

.homeHeader {
    width: 100%;
    height: 100vh;
    position: relative;
    background: url('images/bg.jpg') no-repeat center center/cover;
}

/* Creates Shadow Over Image*/
.homeHeader::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0, 0, 0, 0.6);
    box-shadow: inset 120px 100px 250px #000000, inset -120px -100px 250px #000000;
}

.homeLogo {
    width: 30%;
    height: auto;
}

.homeHeader-top {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Oxygen', sans-serif;
}

.homeHeader-bottom {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-around;
    margin-top: 15rem;
}

.btn {
    display: inline-block;
    background: var(--primary-color);
    color: #fff;
    padding: 0.4rem 1.3rem;
    font-size: rem;
    text-align: center;
    cursor: pointer;
    transition: opacity 0.2s ease-in;
    border-radius: 5px;
    text-decoration: none;
    font-family: 'Oxygen', sans-serif;
}

.btn:hover {
    opacity: 0.9;
}

#cSeeMore {
    background: var(--secondary-color);
}

.fa-circle{
    margin-top: 1.5rem;
    color: var(--secondary-color);
    opacity: .5
}

.fa-circle:hover{
    opacity: 1
}

#fSeeMore {
    background: var(--secondary-color);
}

.homeHeader-middle {
    width: 80%;
    margin: 0 auto;
    position: relative;
    z-index: 2;
    color: white;
    text-align: center;
    font-size: 1.9rem;
    font-family: 'Roboto', sans-serif;
    padding-top: 1rem;
}

footer {
    background: var(--last-color);
    width: 100%;
    height: 1.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

footer p {
    color: white;
    font-size: 1.4rem;
}

/*Home Main Content*/
.mainContent {
    display: none;
    margin-top: 2rem;
}

.mainCreate {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 12rem;
}

.createDiv {
    text-align: center;
    align-self: center;
}

.mainCreate img {
    filter: grayscale(20%);
    border-radius: 12px;
    width: 95%;
    height: 700%;
}

.mainFind {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 12rem;
    display: none;
}

.findDiv {
    text-align: center;
    align-self: center;
}

.mainFind img {
    filter: grayscale(90%);
    border-radius: 12px;
    width: 95%;
    height: 700%;
}

/*About Styling*/
.header h1 {
    flex-grow: 2;
}

.container {
    margin-top: 2rem;
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(2, 1fr);
    width: 80%;
    grid-gap: 2rem;
}

.marketing {
    display: grid;
    justify-items: center;
    grid-gap: 2rem;
}

.holder {
    display: grid;
    align-items: center;
}

.appDevelopment {
    display: grid;
    justify-items: center;
    grid-gap: 2rem;
}

.aboutT {
    text-align: center;
}

.people {
    text-align: center;
    display: flex;
    flex-direction: column;
}

#img:hover {
    cursor: pointer;
}
